#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    background-color: black;
    flex-grow: 1;
}


.html-icono{
    color: rgb(255, 145, 0);
}

.css-icono{
    color:rgb(18, 86, 212);
}

.js-icono{
    color:yellow;
}

.react-icono{
    color:rgb(50, 126, 226);
}

.nodejsmongo-icono{
    color: green;
}

.navbaryfooter{
    background-color: rgb(0, 0, 0);
}

@media (min-width: 992px)
{
    #home{
        background-color: rgb(255,255,255,0.1);
        height: 1100px;
    }
    #boton-navbar{
        transition: 1s;
    }
    
    #boton-navbar:hover{
        background-color: #fff;
        color: black;
    }

    .pres{
        margin-top: 350px
    }
    

}
@media (min-width: 768px) and (max-width: 991px)
{
    #home{
        background-color: rgb(255,255,255,0.1);
        height: 700px;
    }

    .pres{
        padding-top: 240px;
    }

}
@media (max-width: 767px)
{
    #home{
        background-color: rgb(255,255,255,0.1);
        height: 600px;
    }
    .pres{
        padding-top: 150px;
    }
}

.logo{
    height: 100px;
    object-fit: cover;
}

